<p id="notice"><%= notice %></p>

<p>
  <strong>Old url:</strong>
  <%= @redirect_url.old_url %>
</p>

<p>
  <strong>New url:</strong>
  <%= @redirect_url.new_url %>
</p>

<%= link_to 'Edit', edit_redirect_url_path(@redirect_url) %> |
<%= link_to 'Back', redirect_urls_path %>
